---
import Plantilla from '../layouts/LayoutBase.astro'
import Section from '../components/Section.astro'
import AboutMe from '../components/AboutMe.astro';
import Content from '../components/Content.astro';
import CardPerfil from '../components/CardPerfil.astro';

import imgBackground from '../img/technology.jpg';
---

<Plantilla title="HomePage">
	<Content>
		<img class="inline rounded-md shadow-2xl" src={imgBackground}/>
		<CardPerfil />
		<Section>
			<AboutMe />
		</Section>
	</Content>		
</Plantilla>
