---
import Body from "../components/BodyPage.astro";
import Header from "../components/NavBar.astro";
import Content from "../components/Content.astro";
import CardPerfil from "../components/CardPerfil.astro";
import Section from "../components/Section.astro";
import AboutMe from "../components/AboutMe.astro";
import Footer from "../components/Footer.astro";
import imgBackground from '../img/background.jpg';
---

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>JErickGM</title>
</head>
<Body>
	<Header />
	<Content>
		<img class="inline rounded-md shadow-2xl" src={imgBackground}/>
		<CardPerfil />
		<Section>
			<AboutMe />
		</Section>
	</Content>	
	<Footer />
</Body>
</html>
<style>
	html{
		background-color: rgb(22, 23, 24);
		font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
		-webkit-font-smoothing: antialiased;
	}
</style>
