---
import { InsertListKnowledge, InsertListSkill } from "./InsertList";
---

<div class="pt-1">
    <div class="text-2xl font-extrabold underline decoration-4 pb-2">
        <h1>Acerca de m&iacute;</h1>
    </div>
    <p class="pt-2 pb-2 text-justify font-medium text-lg">
        Hola, soy Jorge Garcia, con sede en Lima - Peru, actualmente estudiante de Ingenier&iacute;a de Sistemas enfocado en convertirme en desarrollador Full-stack, me apasiona todo lo relacionado al desarrollo de Software y en la utilizacion de nuevas tecnologias para mejorar el diseño y rendimiento, en constate aprendizaje autodidacta para mejorar como persona y profesional. En mis ratos libres me gusta informarme sobre los ultimos avances de la ciencia, especialmente en temas de Inteligencia Artificial.
    </p>
</div>
<div class="pt-6">
    <div class="text-2xl font-extrabold underline decoration-4 pb-2">
        <h1>Bio</h1>
    </div>
    <div class="grid grid-cols-full gap-4 pt-2 text-lg md:grid-cols-6">
        <div class="col-span-full text-justify flex">
            <span class="font-bold pr-2">1989</span> Nacimiento Ilo - Moquegua, Peru            
        </div>
        <div class="col-span-full flex text-justify">
            <span class="font-bold pr-2">2019</span> Estudios en la carrera de Ingenier&iacute;a de Sistemas e Inform&aacute;tica en la Universidad Continental            
        </div>
    </div>
</div>
<div class="pt-6 flex flex-col text-lg">
    <div class="text-2xl font-extrabold underline decoration-4 pb-2">
        <h1>Habilidades</h1>
    </div>
    <div>
        <InsertListSkill />
    </div>
</div>
<div class="pt-6 flex flex-col text-justify">
    <div class="text-2xl font-extrabold underline decoration-4 pb-2">
        <h1>Conocimientos</h1>
    </div>
    <InsertListKnowledge />  
</div>	
