---
import { InsertListKnowledge, InsertListSkill } from "./InsertList";
---

<div class="pt-1">
    <h1 class="text-2xl font-extrabold underline decoration-4">Acerca de mi</h1>
    <p class="pt-2 pb-2 text-justify font-medium text-lg">Hola soy un desarrollador frond-end, vivo en la ciudad de Lima, mi pasion es programar. Mis pasatiempos lo ocupo en perfeccionarme en temas al desarrollo de Software y en mis ratos libres investigo sobre el avance de la ciencia en temas relacionados a la Astronomia, Fisica Cuantica e Inteligencia Artificial.</p>
</div>
<div class="pt-6">
    <h1 class="text-2xl font-extrabold underline decoration-4">Bio</h1>
    <div class="grid grid-cols-12 pt-2">
        <span class="col-span-1 font-bold">1989</span>
        <span class="col-span-11">Ilo - Moquegua, Peru</span>
        <span class="col-span-1 font-bold">2019</span>
        <span class="col-span-11">Comenzo estudios en la carrera de Ingenieria de Sistemas e Informatica en la Universidad Continental</span>
    </div>
</div>
<div class="pt-6 flex flex-col">
    <div class="text-2xl font-extrabold underline decoration-4 pb-2">
        <h1>Habilidades</h1>
    </div>
    <div>
        <InsertListSkill />

    </div>

</div>
<div class="pt-6 flex flex-col">
    <h1 class="text-2xl font-extrabold underline decoration-4">Conocimientos</h1>
    <InsertListKnowledge />
  
</div>	
