---
import Content from "./Content.astro";
---
<footer>
    <Content>
        <div class="text-center p-5 text-neutral-700">
            <span>2022 JErickGM. Todos los Derechos Reservados</span>
        </div>        
    </Content>
</footer>